* {
  box-sizing: border-box;
}
body, html{
  /*font-family: Autobus;*/
  /*font-family: Futura;*/
  font-family: Century Gothic;
  /*font-family: Baskerville;*/
  /*font-family: monospace;*/
  height:100%;
  margin: 0;
  padding: 16px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  margin-top: 5px;
}

input[type=radio], input[type=select] {
  margin-top: 20px;
  margin-right: 10px;
}

input[type=textarea], textarea {
  margin-top: 20px;
  width: 60%;
}

form {
  margin-bottom: 20px;
}

label {
  font-size: 18px;
  letter-spacing: 1px;
}

p {
  font-size: 24px;
  font-style: oblique;
  color: orangered;
  letter-spacing: 2px;
}

button {
  margin-bottom: 30px;
  margin-left: 44%;
  margin-right 44%;
  width: 12%;
}

div.center {
  vertical-align: middle;
  width: 100%;
}
/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}